* {
	margin:0;
	padding:0;
	
}

.div-after{
	border-bottom: 1px solid #0000008f;
	margin-top:6px	
}

.text-margin-top{
	margin-top:10px	
}

.text-width-full{
	width: 100%	
}

.field_border_red {
	border-color: red !important;
}

.highlight {
	background-color: #66FF66 !important;
}


.highlight_orange {
	background-color: orange !important;
}

.highlight_yellow {
	background-color: yellow !important;
}

.highlight_green {
    background-color: #7cfc00!important;
    color: #000000 !important;
   
}

.highlight_red {
	background-color: red !important;
	color:#fff;
}

.highlight_red_font {
	color: red !important;
}

.ranking_1 {
	background-color: #FA6900 !important;
}

.ranking_1_column {
	color: #FFFFFF;
}

.icon-plus2:hover{
	text-decoration: none;
}

.hd {
	width:100%;
}

.hd .nav-main {
	width:100%;
	margin:0px auto;
	background:#849A39;
}

.menu_bar {
	display:none;
}

.hd .nav-main > ul {
	overflow:hidden;
	list-style:none;
	margin: 0;
}

.hd .nav-main > ul > li {
	float:left;
	
}

.logout{
	float: right;
	border-left: 0px;
}

.hd  .nav-main > ul > li > a {
	color:#fff;
	padding:15px;
	display:block;
	text-decoration:none;
}

.hd .nav-main > ul > li > span {
	margin-right:10px;
}

.hd .nav-main > ul > li a:hover {
	background:#BDA660;
	text-decoration: none;
	color: #fff;
}


.hd .nav-main > ul > li > img{
	height: 50px;
	width: 150px;
	margin-right: 6px;
}

.logo_fas{

	background: #FFFFFF;

}

.logo{
	float: left;
	height: 50px;
	padding: 10px 10px;
	font-size: 1.4em;
	line-height: 30px;
	color: #fff;
}

.crumb-menu{
	width: 100%;
	background: #FFFFFF;
	border-bottom:1px solid #E6E7DD;
	border-right: 1px solid #E6E7DD;
	
}

.crumb-menu span{
	color:grey;
	padding: 5px;
	font-size: 16px;
	font-family: "Times New Roman", Times, serif;
}

.separador{
	background: #E6E7DD;
	width: 100%;
	height: 2px;
}

