body, html{
	margin: 0;
	font:0.9em "Open Sans", sans-serif;
}

.ui-datatable .ui-datatable-header,
.ui-panel .ui-panel-titlebar {
	background-color: #ffffff !important;
	border: 1px solid #c8c8c8 !important;
	color: #000000 !important;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon {
	color: #212121 !important;
}

.ui-dialog .ui-dialog-titlebar {
	border: 1px solid #c8c8c8 !important;
	background-color: #ffffff !important;
	color: #0c0c0c !important;
}

.ui-tabs .ui-tabs-nav .ui-tabs-header {
	background-color: #ffffff !important;
	border: 1px solid #c8c8c8 !important;
	border-bottom: 1px solid #ffffff !important;
}

.ui-tabs .ui-tabs-nav .ui-tabs-header.ui-state-active {
	background-color: #ffffff !important;
	border: 1px solid #c8c8c8 !important;
}
.ui-tabs .ui-tabs-nav .ui-tabs-header.ui-state-active a {
	color: #849A39 !important;
}
.corpo-project{
	
	
}

.toolbar_central{
	width: 100%;
	background-color: rgba(51, 122, 183, 0.18);
}

.link-content-search{
	margin-right: 5px;
	margin-bottom:auto;"
	float:right;
}

.link-content-search:hover{
	text-decoration: none;
	
}

.link-content{
	float: right;
	margin-bottom: 5px;
	
	
}

.link-content:hover{
	text-decoration: none;
}

.cadastro-acao{
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	
}

.cadastro-acao  .tab-cadastro-acao tr td{
	padding: 5px;
}

.lista-projeto{
	
	width:100%;
	border: 1px solid #ddd;
	margin-top:15px;
	float: left;
	margin-left: 13px;
}

.content-projeto{
	width:100%;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top: 10px;
	float: right;
}

.nav-content{
	position: absolute;
	top: 50px;
	background-color: #849A39;
	padding: 0px;
	margin:0;
	list-style-type: none;
	
}

.nav-content a{
	color: #fff;
	text-decoration: none;
}


.nav-content a:hover{
	text-decoration: underline;
}



.nav-content .nav-sub{
	padding: 10px 30px;	
	
}

.nav-content .nav-sub:hover{
	background-color: #BDA660;	
}

.nav-content .nav-sub > a{
	display: inline-block;
}


.nav-item:focus{
	background-color: #BDA660;
}

.nav-item:focus ~ .nav-content{
	max-height: 400px;
	-webkit-transition: max-height 0.4s ease-in;
	-moz-transition: max-height 0.4s ease-in;
	transition: max-height 0.4s ease-in;
}

.status-verde{
	margin-left:6px;
	background-color:green;
	padding-left: 10px;
	padding-right: 10px;
	padding-top:3px;
	padding-bottom:3px;
	font-size: 11px;
	font-weight: bold;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;	
	border-radius: 4px;
	width: 95px;
	
}

.status-vermelho{
	margin-left:6px;
	background-color:red;
	padding-left: 12px;
	padding-right: 12px;
	padding-top:3px;
	padding-bottom:3px;
	font-size: 11px;
	font-weight: bold;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;	
	border-radius: 4px;
	
}

.status-azul{
	margin-left:6px;
	background-color:#69D2E7;
	padding-left: 14px;
	padding-right: 14px;
	padding-top:3px;
	padding-bottom:3px;
	font-size: 11px;
	font-weight: bold;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;	
	border-radius: 4px;
	
}

.status-azul{
	margin-left:6px;
	background-color:#69D2E7;
	padding-left: 14px;
	padding-right: 14px;
	padding-top:3px;
	padding-bottom:3px;
	font-size: 11px;
	font-weight: bold;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;	
	border-radius: 4px;
	
}

.tamanho-status{
	width: 150px;
	color: #000;
}

.status-amarelo{
	margin-left:6px;
	background-color:yellow;
	padding-left: 14px;
	padding-right: 14px;
	padding-top:3px;
	padding-bottom:3px;
	font-size: 11px;
	font-weight: bold;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;	
	border-radius: 4px;
}

header nav ul li span {
	margin-right:10px;
}


