

.ui-datatable .ui-datatable-header, .ui-datatable .ui-datatable-footer {
    text-align: left; 
    padding: 15px 10px;
}

.ui-widget-header {
    border: 1px solid #eeeeee;
    background: #FFFFFF;
    color: #333333;
    font-weight: normal;
}

.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger {
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    cursor: pointer;
    width: 22px; 
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 3px;
}

.ui-outputlabel .ui-outputlabel-rfi {
    margin-left: .4em;
    color: #ff000094;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    font-weight: bold;
}

.lista-projeto > .ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td, .ui-datatable tfoot th {
    padding: 4px 12px;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td, .ui-datatable tfoot th {
    padding: 4px 10px;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    text-align: left;
}

.ui-selectonemenu-panel .ui-selectonemenu-list-item {
    border-bottom: 1px solid #ddd;
    margin: 1px 0;
    padding: 3px 5px;
    text-align: left;
    white-space: nowrap;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
    border-right: none;
    border-top: none;
    border-bottom: none;
    cursor: pointer;
    width: 23px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 3px;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter-container {
    position: relative;
    margin: 0;
    padding: 0.3em;
    display: inline-block;
    width: 90%;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter {
    width: 100%;
    padding-right: 5px;
}

.ui-datatable .ui-column-filter {
    display: block;
    width: 100%;
    margin: auto;
}


.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    color: #ffffff;
    text-decoration: none;
    background-color: #849A39;
    background-color: #849A39;
    background-position: 0px;
    background-image: -moz-linear-gradient(top, #849A39, #849A39);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#849A39), to(#849A39));
    background-image: -webkit-linear-gradient(top, #849A39, #849A39);
    background-image: -o-linear-gradient(top, #849A39, #849A39);
    background-image: linear-gradient(to bottom, #849A39, #849A39);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.ui-tabs .ui-tabs-nav.ui-widget-header li a {
    line-height: 18px;
    padding-bottom: 8px;
    padding-top: 8px;
    color: #849A39;
    font-weight: normal;
    border: 0px none;
}

.ui-messages-info, .ui-messages-warn, .ui-messages-error, .ui-messages-fatal {
    border: 1px solid;
    margin: 10px 0px;
    padding: 5px 5px 5px 5px;
}
