

/*body .ui-inputfield {
  position: relative !important;
  padding: 12px 0px 5px 0 !important;
  width: 100% !important;
  outline: 0 !important;
  border: 0 !important;
  box-shadow: 0 1px 0 0 #333333d4 !important;
  transition: box-shadow 150ms ease-out !important;
  border-radius: 0px;
  
}
/*
body .ui-selectcheckboxmenu {
    border: 1px solid #a6a6a6;
    position: relative;
    border: 0 !important;
    outline: 0 !important;
    -moz-transition: border-color .3s;
    -o-transition: border-color .3s;
    -webkit-transition: border-color .3s;
    transition: border-color .3s;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}/*
body .ui-selectcheckboxmenu {
	position: relative !important;
  	padding: 12px 0px 5px 0 !important;
	width: 100% !important;
	outline: 0 !important;
	border: 0 !important;
	box-shadow: 0 1px 0 0 #333333d4 !important;
  	transition: box-shadow 150ms ease-out !important;
  	border-radius: 0px;
}/*
body .ui-selectonemenu {
	border-width: 0;
	background: transparent no-repeat;
	background-image: linear-gradient(to bottom, #1E88E5, #1E88E5),
		linear-gradient(to bottom, #bdbdbd, #bdbdbd);
	background-size: 0 2px, 100% 1px;
	background-position: 50% 100%, 50% 100%;
	transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	padding-bottom: 0px;
	box-sizing: border-box;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

body .ui-selectonemenu-panel .ui-selectonemenu-filter-container .ui-selectonemenu-filter.ui-inputfield {

    text-indent: 2.429em !important;
}

body .ui-inputfield:focus  {
	box-shadow: 0 2px 0 0 green !important;
	border-radius: 0px;
}*/

body .aw-topbar .form-wrapper .ui-inputfield {
  position: relative !important;
  padding: 12px 0px 5px 0 !important;
  width: 100% !important;
  outline: 0 !important;
  border: 0 !important;
  box-shadow: 0 1px 0 0 #fff !important;
  transition: box-shadow 150ms ease-out !important;
  border-radius: 0px;
  
}
	
/*
body .aw-topbar .form-wrapper .ui-inputfield:focus {
	box-shadow: 0 1px 0 0 white !important;
	border-radius: 0px;
}*/



body .ui-inputfield.ui-state-error  {
    box-shadow: 0 1px 0 0 red !important;
    background-image: linear-gradient(to bottom, #fff, #fff), linear-gradient(to bottom, #fff, #fff) !important;
}

body .ui-inputfield.ui-state-error:focus{
  box-shadow: 0 1px 0 0 green !important;
	border-radius: 0px; 
}

.form-group {
  position:relative !important;  

  & + .form-group {
    margin-top: 30px !important;
  }
}

/*///////// LABEL PADRÃO DO FORM //////////////*/

.form-label{
  position: absolute !important;
  left: 4 !important;
  top: 16px !important;
  background-color: #fff !important;
  z-index: 10 !important;
  transition: transform 150ms ease-out, font-size 150ms ease-out !important;
  font-weight: normal;
}

.focused .form-label {
  transform: translateY(-145%) !important;
  font-size: 15px !important;
  font-weight: bold;
}

/*//////////////////////////////////////////*/

#div-edit-pagamento .focused .form-label {
    transform: translateY(-145%) !important;
    font-size: 14px !important;
    font-weight: bold;
}

.focused .ui-state-error .form-label {
  transform: translateY(-145%) !important;
  font-size: 1em !important; 
}

.form-input {
  position: relative !important;
  padding: 12px 0px 5px 0 !important;
  width: 100% !important;
  outline: 0 !important;
  border: 0 !important;
  box-shadow: 0 1px 0 0 #e5e5e5 !important;
  transition: box-shadow 150ms ease-out !important;
  
  &:focus {
    box-shadow: 0 2px 0 0 blue !important;
  }
}

.form-input.filled {
  box-shadow: 0 2px 0 0 lightgreen !important;
}